// Fiche d'un ou plusieurs objets sélectionnés

.feature-form {
    .waiting {
        opacity: .5;
    }

    img {
        max-width: 15em;
        max-height: 7em;
        margin: 0 1em;
        border: .3em solid #fff;
        box-shadow: 0 0 2px rgba(0,0,0,.5);
    }

    .btn-like {
        margin-left:7px;
        margin-right:2px;
        padding: 0;
        color: blue;
        text-align: center;
    }

    .table {
        font-size:11px;
        td {
            padding: 0;
            // Label nom de l'attribut du feature
            label.control-label {
                padding: 0 0 0 5px;
                margin-bottom:0;
                min-width: 120px;
                &.has-error {
                    color: red;
                }
                &.required:after {
                    content: " *";
                }
            }
            &.feature-attribute-name {
                padding: 0 5px 0 5px;
                font-weight: bold;
            }
            select:disabled,
            input:disabled {
                background-color: rgb(235, 235, 228);
                border-color: transparent;
                color: #bbb;
            }
            input.feature-attribute {
                border: none;
                &.has-error {
                    border: 1px solid red;
                }
            }
            input.feature-attribute:not([type='checkbox']) {    
                width:100%;
                // Picto à droite des inputs selon le type de champ
                &.mask_number, &.mask_int, &.mask_year {
                    background-image: url('../img/masks.png');
                    background-repeat: no-repeat;
                }
                &.mask_year {
                    min-width: 265px; // assez large pour datetimepicker
                }
                &.mask_number, &.mask_int {
                    padding-right: 20px;
                    background-position: right -4px;
                }
                &.mask_year {
                    background-position: right -26px;
                }
                &.mask_time {
                    background-position: right -66px;
                }	
            }
            select.feature-attribute {
                width:100%;
            }
            button.document {
                font-size:10px; 
                padding-top:0; 
                padding-bottom:0;
            }
        }
    }


}

.automatic {
    position: relative;
}  
.automatic .fa-cog { 
    position: absolute;
    top: 4px;
    right: 4px;
}

